GROQ_API_KEY=your_groq_api_key_here
AVIATIONSTACK_API_KEY=your_aviationstack_api_key_here
DEFAULT_ORIGIN_IATA=DAC
TAVILY_API_KEY=your_tavily_api_key_here
DATABASE_URL=your_postgresql_database_url_here
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_api_key_here
LANGSMITH_PROJECT=TripMate
